<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>./module/Api/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module</directory>
        </whitelist>
    </filter>    
</phpunit>
