#chart_psd3_svg
{
    /* ESTO ES PARA QUE CUANDO CRECEN LAS AREAS NO SE CHOCQUE EL BORDE */
    padding: 3px;

}

text {
    font-family: sans-serif;
    font-size: 13px;
    pointer-events: none;
    z-index: 99;
    position: relative;
}

g.arc path
{
    transition: .1s ease-in-out;
}

g.arc path:hover {
    /* fill: orange; */

    -ms-transform: scale(1.01, 1.01); /* IE 9 */
    -webkit-transform: scale(1.01, 1.01); /* Safari */
    transform: scale(1.01, 1.01);
}

.psd3Tooltip
{
    position: absolute;
}

.psd3Tooltip table
{
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777777;
    -moz-box-shadow: 7px 7px 12px -9px #777777;
    box-shadow: 7px 7px 12px -9px #777777;
    opacity: 0.9;
}

.psd3Tooltip table tr
{
    border: 1px solid #CCC;
}

.psd3Tooltip table tr td,
.psd3Tooltip table tr th
{
    font-size: 13px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999;
}

.psd3Hidden {
    display: none;
}

.psd3Tooltip p {
    
}